@model IEnumerable<FreeAgencyMarketplace.Models.Team>

<h2>@ViewBag.title</h2>

@Html.ActionLink("Add Team", "Create", "Teams", null, new { @class="btn btn-success", @style="margin-bottom: 1%;" })

<table class="table table-striped table-hover table-bordered">
	<tr>
		<th>Name</th>
		<th>City</th>
		<th>Division</th>
		<th>Stadium</th>
	</tr>
	@foreach (var team in Model)
	{
		<tr>
			<td>@Html.ActionLink(team.Name, "Details", "Teams", new { id = team.Id }, null)</td>
			<td>@team.City</td>
			<td>@team.Conference @team.Division</td>
			<td>@team.Stadium</td>
		</tr>
	}
</table>

