@model FreeAgencyMarketplace.ViewModels.PlayerFormViewModel

<h2>@ViewBag.title</h2>

@using (Html.BeginForm("Save", "Players"))
{
	<div class="form-group">
		@Html.LabelFor(p => p.Player.Name)
		@Html.TextBoxFor(p => p.Player.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(p => p.Player.Position)
		@Html.DropDownListFor(p => p.Player.PositionId, new SelectList(Model.Positions, "Id", "Name"), "Select Player Position", new { @class="form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(p => p.Player.Age)
		@Html.TextBoxFor(p => p.Player.Age)
	</div>
	<div class="form-group">
		@Html.LabelFor(p => p.Player.IsFreeAgent)
		@Html.CheckBoxFor(p => p.Player.IsFreeAgent)
	</div>
	<div class="form-group">
		@Html.LabelFor(p => p.Player.TeamId)
		@Html.DropDownListFor(p => p.Player.TeamId, new SelectList(Model.Teams, "Id", "Name"), "Select Team", new { @class="form-control" })
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
	@Html.HiddenFor(p => p.Player.Id)
}