@model FreeAgencyMarketplace.Models.Player

<h2>@Model.Name</h2>

<ul>
	<li>Position: @Model.Position</li>
	<li>Age: @Model.Age</li>
	<li>Team: @Model.Team.Name</li>
	<li>Team Divison: @Model.Team.Division</li>
	<li>Team Conference: @Model.Team.Conference</li>
	<li>Stadium/Field: @Model.Team.Stadium</li>
</ul>

@Html.ActionLink("Back", "Index", "Players", null, new { @class = "btn btn-success"})