@model IEnumerable<FreeAgencyMarketplace.Models.Player>

<h2>@ViewBag.title</h2>

<table class="table table-dark table-hover table-bordered">
	<tr>
		<th>Name</th>
		<th>Position</th>
		<th>Age</th>
		<th>Free Agent Status</th>
	</tr>

	@foreach (var player in Model)
	{
		<tr>
			<td>@player.Name</td>
			<td>@player.Position</td>
			<td>@player.Age</td>
			<td>@player.IsFreeAgent</td>
		</tr>
	}

</table>