@model IEnumerable<FreeAgencyMarketplace.Models.Player>

<h2>@ViewBag.title</h2>
@Html.ActionLink("Add Player", "Create", "Players", null, new {@class="btn btn-success", @style="margin-bottom: 1%;"})
<table class="table table-dark table-hover table-bordered">
	<tr>
		<th>Name</th>
		<th>Position</th>
		<th>Team</th>
		<th>Age</th>
		<th>Free Agent Status</th>
	</tr>

	@foreach (var player in Model)
	{
		<tr>
			<td>@Html.ActionLink(player.Name, "Details", "Players", new { id = player.Id }, new { @class="color: green;" })</td> <!--We have to pass the Id of the player, so an anonymous object....-->
			<td>@player.Position</td>
			<td>@player.Team.Name</td>
			<td>@player.Age</td>
			<td>@player.IsFreeAgent</td>
		</tr>
	}

</table>